fastapi==0.115.6
uvicorn==0.34.0
psycopg2-binary==2.9.10
google-play-scraper==1.2.7
praw==7.8.1
beautifulsoup4==4.12.3
requests
pandas==2.2.3
spacy==3.8.4
langdetect==1.0.9
groq==0.11.0
python-dotenv==1.0.1
tqdm==4.67.1
